.gitignore

# Rust build artifacts
/target/
Cargo.lock
.cargo

# Output directory
/results/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Debug
*.pdb

CL*
AG*

open*
open*/*

.cl*

config.json